/*TABLAS*/
.grid {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  
}

#grid1{
  position: relative;
  z-index: 1;
  top: 125px;
}

#cajaletrero{
  position: relative;
  z-index: 1;
  top: 20px;
  width: 55%;
  height: 38px;
  font-size: xx-large !important; 
  background-color: #11EF96;
  color: white;
  text-align: center;
  border-radius: 15px;
  
}

.red { color: #51F051;  background-color: red !important;}
.blue { color: blue;  }
.red1 { color: red;  background-color: red !important;}
.green { color: #51F051;  background-color: #51F051 !important;}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Roboto Condensed", sans-serif, Arial;
  font-weight: lighter;
  
}


/*FIN TABLAS*/
.ui-grid {
  border: 1px solid #51f051;
  box-sizing: content-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.ui-grid-header {
  border-bottom: 1px solid #51f051;
  box-sizing: border-box;
}

.ui-grid-header-cell {
  position: relative;
  box-sizing: border-box;
  background-color: inherit;
  border-right: 1px solid;
  border-color: #51f051;
 
}

.ui-grid-cell {
  overflow: hidden;
  float: left;
  background-color: inherit;
  border-right: 1px solid;
  border-color: #51f051;
  box-sizing: border-box;
}

.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
  background-color: #f0f0ee;
  border-bottom: solid 1px #51f051;
}
