$color-1: #1BCE7C
// blue
$color-2: #3f51b5
// red
$color-3: #ffffff
// white
$verde: #1BCE7C
$verde1: #00E676
$verde2: #4BB68B
$verde3: #4DD49A
$verdea: #00FFCE
$blanco: #FDFDFD
$blanco1: #eeeeee
$blanco2: #f2f2f2
$negro: #333333
$colord: #BDBDBD
$colorti:#212121
$gris: #9E9E9E
$grisc: #B5B5B5
$plateado: #f8f8f8
$azul1: #14E8FB
$naranja: #FF5252
$azule: #5918E5
$morado: #5918E5
$morado1: #806BCD
$moradoc: #826ECD
$tealc: #1de9b6
$tealo: #00bfa5
$colorn: rgba($color-1, .9)
$indigo: #3f51b5
$pinka: #ff4081

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400)
$letra1: 'Roboto Condensed', sans-serif, Arial




// fonts

$primary-font: 'Lora', serif
