@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Roboto Condensed", sans-serif, Arial;
  overflow: hidden;
  box-sizing: border-box;
}

.tabs_contens {
  width: 90%;
  margin: auto;
  position: relative;
}
.tabs_contens .items {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.tabs_contens .items.active {
  display: block;
}
.tabs_links {
  display: flex;
  width: 100%;
  margin: auto;
  text-align: center;
}
.tabs_links a {
  flex: auto;
  display: block;
  float: left;
  line-height: 3em;
  background: #fdfdfd;
  color: #b5b5b5;
  text-decoration: none;
  font-size: 1em;
  position: relative;
}
.tabs_links a.active {
  z-index: 100;
  color: #ff5252;
  border-bottom: 2px solid #ff5252;
}

#container {
  height: 20em;
}

section {
  display: flex;
}
section #map, section #izquierda {
  width: 50%;
  height: 100vh;
}
section #izquierda {
  box-shadow: -10px -2px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
  z-index: 100;
  background: #fdfdfd;
}
section #izquierda .abajo {
  width: 100%;
  height: 100vh;
}
section #izquierda .abajo {
  overflow: auto;
}
section #izquierda .abajo #lista {
  margin: auto;
  align-content: center;
}
section #izquierda .abajo p {
  font-size: 1em;
}
section #izquierda .arriba {
  overflow: auto;
  background: rgba(255, 255, 255, 0.8);
}
section #izquierda .arriba table {
  width: 70%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  text-align: left;
}
section #izquierda .arriba table td, section #izquierda .arriba table th {
  padding: 15px 5px;
  border: 0;
  border-bottom: 1px solid #a6a6a6;
}

#map-zoom-in, #map-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(45, 49, 63, 0.9);
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../img/cd-icon-controller.svg");
}
#map-zoom-in:hover, #map-zoom-out:hover {
  background-color: #1bce7c;
}

#map-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;
}

#map-zoom-out {
  background-position: 50% -32px;
}
