
<html>
  <head>
    <title>Multiples Rutas</title>
    <link rel="stylesheet" type="text/css" href="../css/rcss.css"/>
    <link rel="stylesheet" type="text/css" href="../css/scroll.css"/>
    <script src="../lib/jquery-2.2.4.min.js"></script>
    <script type="application/javascript" src="../js/recorridos.js"></script>
    <script type="application/javascript" src="../js/itinerarios.js"></script>
    <script type="application/javascript" src="../js/times.js"></script>
  </head>
  <body>
  <div id="cajaletrero1"><b>MONITOREO EN L.TIEMPO: MULTIPLE RUTAS</b></div> 
  
    <div class="cajaRR"></div>
  </body>
</html>