html
  head
    title SIGMAT - Multiples Rutas
    meta(charset="UTF-8")     
    script(src="../lib/jquery-2.2.4.min.js")  
    script(type="application/javascript", src="../js/recorridos.js")
    script(type="application/javascript", src="../js/times.js")
    script(type="application/javascript", src="../js/min/materialize.min.js") 
    link(rel="stylesheet", type="text/css", href="../css/rcss.css")
    link(rel="stylesheet", type="text/css", href="../css/scroll.css") 
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")  
    
  body
    button#btn1 agregar recorrido
    button#btn2 eliminar recorrido
    button#btn3 cambio de color del marcador
    .bloque1
        a(href="#modal1").modal-trigger.waves-effect.waves-light.btn.btnM
            i.material-icons.left queue
            | Agregar ruta(s)
    #modal1.modal.modal-fixed-footer
        .modal-content
          .cerrar.modal-close x
          h4.center-align.flow-text LINEAS DE TIEMPO
          .cajam1
            h3.cajam1m.flow-text SELECCIONE una de las siguientes Categorias
            .cajam1s
            h3.cajam1m.flow-text Seleccione la RUTA o RUTAS que desea MONITOREAR
            .cajam1i
              form.multipleM
                h3 SELECCIONE UNA CATEGORIA
              
        .modal-footer 
          a.amodal1.modal-action.modal-close.waves-effect.waves-green.btn Agregar rutas
          a.modal-action.modal-close.waves-effect.waves-red.left.btn.red Cancelar
    .cajaRR
     
      
    
