html
  head
    title SIGMAT - Unica Ruta
    link(rel="stylesheet", type="text/css", href="../css/rcss.css")
    link(rel="stylesheet", type="text/css", href="../css/scroll.css")
    script(src="../lib/jquery-2.2.4.min.js")
    script(type="application/javascript", src="../js/Itinerario.js")
    script(type="application/javascript", src="../controller/time.js")
    
  body
    button#btn1 agregar recorrido
    button#btn2 eliminar recorrido
    button#btn3 cambio de color del marcador
    button#btn4 modificar lineas de control "bus atrasado"
    button#btn5 modificar lineas de control "bus bien"
    button#btn6 modificar lineas de control "bus rapido"
    .bloque1
    
      
    
