
<html>
  <head>
    <title>SIGMAT - Unica Ruta</title>
    <link rel="stylesheet" type="text/css" href="../css/rcss.css"/>
    <link rel="stylesheet" type="text/css" href="../css/scroll.css"/>
    <script src="../lib/jquery-2.2.4.min.js"></script>
    <script type="application/javascript" src="../js/Itinerario.js"></script>
    <script type="application/javascript" src="../controller/time.js"></script>
  </head>
  <body>
    <button id="btn1">agregar recorrido</button>
    <button id="btn2">eliminar recorrido</button>
    <button id="btn3">cambio de color del marcador</button>
    <button id="btn4">modificar lineas de control "bus atrasado"</button>
    <button id="btn5">modificar lineas de control "bus bien"</button>
    <button id="btn6">modificar lineas de control "bus rapido"</button>
    <div class="bloque1"></div>
  </body>
</html>